<!DOCTYPE html>
<html lang="en">

<head>
    <title class="element__translation_string__element">Deriv | Signup for free</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Ubuntu:wght@400;700&display=swap"
        rel="stylesheet">
    <style>
        * {
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
</head>

<body>
    <div class="flex w-screen justify-center items-center">
        <img class="h-14"
            src="https://lh3.googleusercontent.com/ybqdtCnk3Yk5fJJ4Dyy7LpbjqEcLESzxdt6DtvoCB1XZbj4XQx7C_EYO46lb6qEy1M_BpgIng3pfHvpVGiG-vg23dh6cBJj1lg=w3456"
            alt="deriv-logo" />
    </div>

    <div id="signup-form-container"
        class="grid md:grid-cols-2 max-md:grid-rows-[auto_1fr] gap-8 max-w-[77rem] 2xl:w-[80%] xl:w-[84%] md:w-[90%] w-[95%] mx-auto pt-32 md:items-center">
        <div class="flex flex-col gap-4">
            <h1 class="text-2xl text-center text-[#414652] font-bold element__translation_string__element">Unique
                trade types. Hundreds of instruments.
                Financial
                and derived markets.</h1>
            <h2
                class="max-md:hidden text-lg xl:text-xl text-center text-[#414652] element__translation_string__element">
                Trade
                anywhere, anytime.</h2>
            <p
                class="max-md:hidden text-sm xl:text-base text-center text-[#414652] element__translation_string__element">
                Ready to join over 2.5 million traders who have chosen
                Deriv
                as their trusted broker? Enter your email address to create a free demo account.</p>
        </div>
        <div class="gap-4 flex flex-col rounded-lg md:shadow-[0_0_24px_rgba(0,0,0,.05)] max-md:px-3 md:p-10">
            <h2 class="text-2xl text-[#414652] font-bold element__translation_string__element">Sign up</h2>
            <p class="text-base text-[#414652] md:hidden element__translation_string__element">Enter your
                email
                address to create a free demo account.</p>

            <p class="text-base text-[#414652] max-md:hidden element__translation_string__element">Enter
                your email address to begin</p>


            <input class="email-input border border-[#d6dadb] h-10 px-5 rounded-2xl text-sm" id="email_input_n1"
                type="text" placeholder="E-mail" />
            <div class="flex items-center gap-3 py-4">
                <input type="checkbox" id="ckbx_n1" />
                <label class="element__translation_string__element" for="ckbx_n1" class="text-sm">
                    I agree to the <a class="element__translation_string__element"
                        href="https://drive.google.com/file/d/1G7boJkXRsO5okMp3JBdfJjB2K0vUal5y" target="_blank"
                        style="color: #ff444f !important;">terms and conditions</a>.
                </label>
            </div>
            <button id="myBtn_n1"
                class="text-xs text-white bg-[#ff444f] h-10 rounded-2xl disabled:opacity-[0.32] hover:opacity-70 element__translation_string__element"
                style="font-weight: 700;" type="button">Create demo account</button>
            <p
                class="text-[10px] xl:text-xs leading-4 xl:leading-5 text-[#414652b2] element__translation_string__element">
                By pressing "Create demo account", you confirm that you are 18 or older. You understand that we may
                use
                your email address to send you information about Deriv products and services as well as market news.
                You
                can always unsubscribe from these emails in your account settings. For more information, please take
                a
                look at Deriv's <a class="element__translation_string__element"
                    href="https://drive.google.com/file/d/15UFkj1v2BXJyhzFWBMQRjJShoPtVJf8v/view" target="_blank"
                    style="color: #ff444f !important;">Security and privacy</a>.
            </p>
            <div class="grid grid-cols-3 items-center py-2">
                <div class="w-full border-b border-[#d6dadb]"></div>
                <span
                    class="w-full text-sm text-[#414652b2] text-center whitespace-nowrap element__translation_string__element">Or
                    sign up with</span>
                <div class="w-full border-b border-[#d6dadb]"></div>
            </div>
            <button data-platform="google" style="font-weight: 700;"
                class="flex items-center justify-center w-full h-12 gap-[0.4rem] text-xs font-bold bg-white border border-[#d6dadb] rounded-2xl hover:opacity-70 social-media-login">
                <img class="h-6 w-6" height="24px" width="24px" alt="google"
                    src="https://static.deriv.com/email/images/icons/social-google.png" />
                <span class="element__translation_string__element">Google</span>
            </button>
            <button data-platform="facebook" style="font-weight: 700;"
                class="flex items-center justify-center w-full h-12 gap-[0.4rem] text-xs font-bold bg-[#1877f2] text-white rounded-2xl hover:opacity-70 social-media-login">
                <img class="h-6 w-6" height="24px" width="24px" alt="facebook"
                    src="https://static.deriv.com/email/images/icons/social-facebook-blue.png" />
                <span class="element__translation_string__element">Facebook</span>
            </button>
            <button data-platform="apple" style="font-weight: 700;"
                class="flex items-center justify-center w-full h-12 gap-[0.4rem] text-xs font-bold bg-black text-white rounded-2xl hover:opacity-70 social-media-login">
                <img class="h-6 w-6" height="24px" width="24px" alt="apple"
                    src="https://static.deriv.com/email/images/icons/social-apple-white.png" />
                <span class="element__translation_string__element">Apple</span>
            </button>
        </div>
    </div>
    <footer class="mt-12">
        <h1 id="ls-test-feature-flag" class="text-2xl text-center text-[#414652]">This is Default</h1>
    </footer>

</body>

</html>
